@import "../../../styles/mixins";
@import "../../../styles/constants";

.book-detail-headline {
  margin-top: 10px;
}

.book-detail {
  display: flex;
  list-style: none;
  margin: 0 0 100px 0;
  padding: 0;
  width: 100%;
  flex-flow: row wrap;

  &-header {
    display: flex;
    align-items: center;
    padding: 10px;

    button {
      background: lightgreen;
      border: none;
      border-radius: 0.5px;
      line-height: 1.5rem;
      padding: 0.8rem 0.4rem;
      margin-right: 3rem;
    }
  }
    
}

